
 body {
   background-color: gray;
 }
 .header {
   background-color: #F1F1F1;
   text-align: center;
   padding: 5px;
   margin: 5px;
   border-radius: 5px;
  }

 .sections{
   text-align: center;

   background-color: darkgrey;
   padding: 5px;
   margin: 5px;
   border-radius: 5px;
}